<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Register</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js">

</head>
<body style="background-color: #f1f1f1">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3" style="width:300px; background-color: #ffffff; margin:60px auto 0; padding:50px 50px 30px;">
                <div style="text-align:center;">
                    <h4 style="margin: 0 auto 50px;">
                        <a>登录</a>
                        <b>.</b>
                        <a>注册</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</body>
</html>